#container
{
    width: 50%;
    max-width: 800px;
    margin: 2rem auto;
}

#purchase-list
{
    border: none;
}

.purchase-card
{
    margin-bottom: 1rem;
}

.purchase-card:last-child
{
    margin-bottom: 0;
}

.k-list-container,
.k-calendar
{
    background: #fff;
}

.k-button > .k-icon
{
    margin-right: 4px;
}

.edit-buttons
{
    text-align: right;
}

#add-purchase
{
    position: absolute;
    right: 1rem;
    top: 1.25rem;
}

.form-control
{
    box-sizing: border-box;
}

.k-invalid-msg
{
    display: none !important;
}

.k-invalid
{
    background-color: #fbeed5;
}
