@{
    ViewData["Title"] = "Purchase Tracker";
}

<script type="text/x-kendo-tmpl" id="view-template">
    <div class="card purchase-card">
        <div class="card-body">
            <div class="edit-buttons">
                <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-i-edit"></span>Edit</a>
                <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-close"></span>Delete</a>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Category</label>
                        <input class="form-control" value="#:categoryName#" readonly />
                    </div>
                    <div class="form-group col">
                        <label>Date</label>
                        <input class="form-control" value="#=kendo.toString(kendo.parseDate(date), 'MM-dd-yyyy')#" readonly />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Payee</label>
                        <input class="form-control" value="#:payee#" readonly />
                    </div>
                    <div class="form-group col">
                        <label>Amount</label>
                        <input class="form-control" value="$#:amount#" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label>Memo</label>
                    <input class="form-control" value="#=typeof memo == 'undefined' || memo == null ? '' : memo#" readonly />
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="edit-template">
    <div class="card purchase-card">
        <div class="card-body">
            <div class="edit-buttons">
                <a class="k-button k-update-button" href="\\#"><span class="k-icon k-i-check"></span>Save</a>
                <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-i-cancel"></span>Cancel</a>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Category</label>
                        <input id="edit-category" class="form-control" data-bind="value:categoryId" required />
                    </div>
                    <div class="form-group col">
                        <label>Date</label>
                        <input id="edit-date" class="form-control" data-bind="value:date" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Payee</label>
                        <input type="text" class="form-control" maxlength="150" data-bind="value:payee" required />
                    </div>
                    <div class="form-group col">
                        <label>Amount</label>
                        <input type="number" class="form-control" data-bind="value:amount" min="0" step="0.01" required />
                    </div>
                </div>
                <div class="form-group">
                    <label>Memo</label>
                    <input type="text" class="form-control" maxlength="300" data-bind="value:memo" />
                </div>
            </form>
        </div>
    </div>
</script>

<div id="container" class="card">
    <div class="card-header text-center">
        <h1>Purchases</h1>
        <button id="add-purchase" class="k-button"><span class="k-icon k-i-add"></span>Add purchase</button>
     </div>
    <div id="purchase-list" class="card-body"></div>
    <div class="card-footer text-center text-muted"><p id="aggregates"></p></div>
</div>

<script src="/js/site.js"></script>